<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=NEPSPROD;PASSWORD=neps;PERSIST SECURITY INFO=True;USER ID=neps&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=NEPSDEVL;PASSWORD=nepsdevl;PERSIST SECURITY INFO=True;USER ID=neps&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=NepsQa1510;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ISP" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=ISP_CUSTOM;USER ID=ISP_CUSTOM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NRM" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=vis_nrm;USER ID=VIS_NRM&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesNetworkElement" connectionString="metadata=res://*/Model4.csdl|res://*/Model4.ssdl|res://*/Model4.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=xs2nepsbi;PERSIST SECURITY INFO=True;USER ID=nepsbi&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NEPS" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=NEPSWV;PERSIST SECURITY INFO=True;USER ID=NEPSWV&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities6" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=NepsQa1510;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model8.csdl|res://*/Model8.ssdl|res://*/Model8.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=NepsQa1510;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities7" connectionString="metadata=res://*/Model7.csdl|res://*/Model7.ssdl|res://*/Model7.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=NepsQa1510;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities9" connectionString="metadata=res://*/Model9.csdl|res://*/Model9.ssdl|res://*/Model9.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSQA;PASSWORD=xs2nepsbi;USER ID=NEPSBI&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=NepsProd1910;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ISP" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=ISP_CUSTOM;USER ID=ISP_CUSTOM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NRM" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=vis_nrm;USER ID=VIS_NRM&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesNetworkElement" connectionString="metadata=res://*/Model4.csdl|res://*/Model4.ssdl|res://*/Model4.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=xs2nepsbi;PERSIST SECURITY INFO=True;USER ID=nepsbi&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NEPS" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=NepsProd1910;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities6" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=NepsProd1910;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model8.csdl|res://*/Model8.ssdl|res://*/Model8.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=NepsProd1910;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities7" connectionString="metadata=res://*/Model7.csdl|res://*/Model7.ssdl|res://*/Model7.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=NepsProd1910;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities9" connectionString="metadata=res://*/Model9.csdl|res://*/Model9.ssdl|res://*/Model9.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.64.176:1521/NEPSPROD;PASSWORD=xs2nepsbi;USER ID=NEPSBI&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=NepsTrn1110;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ISP" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=ISP_CUSTOM;USER ID=ISP_CUSTOM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NRM" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=vis_nrm;USER ID=VIS_NRM&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesNetworkElement" connectionString="metadata=res://*/Model4.csdl|res://*/Model4.ssdl|res://*/Model4.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=xs2nepsbi;PERSIST SECURITY INFO=True;USER ID=nepsbi&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_NEPS" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=NEPSWV;PERSIST SECURITY INFO=True;USER ID=NEPSWV&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities6" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177:1521/NEPSTRN;PASSWORD=NepsTrn1110;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model8.csdl|res://*/Model8.ssdl|res://*/Model8.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177/NEPSTRN;PASSWORD=NepsTrn1110;PERSIST SECURITY INFO=True;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities7" connectionString="metadata=res://*/Model7.csdl|res://*/Model7.ssdl|res://*/Model7.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177/NEPSTRN;PASSWORD=NepsTrn1110;USER ID=NEPS&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities9" connectionString="metadata=res://*/Model9.csdl|res://*/Model9.ssdl|res://*/Model9.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=10.14.61.177/NEPSTRN;PASSWORD=xs2nepsbi;USER ID=NEPSBI&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VISIONAEL_URL" value="10.14.61.189:8080" />
    <!--<add key="connString" value="Data Source =NEPSDEVL; User Id =neps; Password =nepsdevl; " />-->
    <!--<add key="connString" value="Data Source =NEPSPROD; User Id =neps; Password =NEPS; " />-->
    <!--<add key="connString" value="Data Source = 10.41.64.176:1521/NEPSPROD;User Id =neps; Password =NepsProd1910; " />
    <add key="connString2" value="Data Source = 10.14.64.176:1521/NEPSPROD;User Id =nepsbi; Password =xs2nepsbi; " />-->
    <!--<add key="connString2" value="Data Source = 10.41.61.176:1521/NEPSTRN;User Id =NEPSBI; Password =xs2nepsbi; " />-->
    <!--<add key="connString" value="Data Source = 10.14.61.176:1521/NEPSDEVL;User Id =NEPS; Password =nepsdevl; " />-->
    <!-- region Mubin - CR14-20180330 -->
    <add key="connString" value="Data Source = 10.14.61.177:1521/NEPSTRN;User Id =NEPS; Password =NepsTrn1110; " />
    <add key="connString2" value="Data Source = 10.14.61.177:1521/NEPSTRN;User Id =NEPSBI; Password =xs2nepsbi; " />
    <!--<add key="connStringFlash" value="Data Source = 10.14.61.177:1521/NEPSTRN;User Id =NEPSFLASH; Password =xs2nepsflash; " />-->
    <!--<add key="connString" value="Data Source = 10.14.61.177:1521/NEPSQA;User Id =neps; Password =NepsQa1510; " />
    <add key="connString2" value="Data Source = 10.14.61.177:1521/NEPSQA;User Id =nepsbi; Password =xs2nepsbi; " />-->
    <!-- endRegion -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="nrm-boqSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="neps_procmanSOAPSoapBinding" />
        <binding name="neps_procman_ispSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="neps_procman_grn_ispSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TM_NEPSManagementAPIPortBinding" />
        <binding name="neps_procman_grn_ospSOAPSoapBinding" />
        <binding name="NrmServiceInterfaceBinding" />
        <binding name="NRMServicePortSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.14.61.189:9090/NRMBOQ/services/nrm-boqSOAP" binding="basicHttpBinding" bindingConfiguration="nrm-boqSOAPSoapBinding" contract="BOQNrmService.nrmboq" name="nrm-boqSOAP" />
      <endpoint address="http://10.14.61.189:9090/NEPS_PROCMAN_WS/services/neps_procmanSOAP" binding="basicHttpBinding" bindingConfiguration="neps_procmanSOAPSoapBinding" contract="OSPHandoverServices.neps_procman" name="neps_procmanSOAP" />
      <endpoint address="http://10.14.61.189:9090/NEPS_PROCMAN_WS_ISP/services/neps_procman_ispSOAP" binding="basicHttpBinding" bindingConfiguration="neps_procman_ispSOAPSoapBinding" contract="ISPHandoverServices.neps_procman_isp" name="neps_procman_ispSOAP" />
      <endpoint address="http://10.14.61.189:9090/GRANITE_PROCMAN_ISP_WS/services/neps_procman_grn_ispSOAP" binding="basicHttpBinding" bindingConfiguration="neps_procman_grn_ispSOAPSoapBinding" contract="GraniteISP.neps_procman_grn_isp" name="neps_procman_grn_ispSOAP" />
      <endpoint address="http://10.41.61.177:9090/NRMSoap2/services/NRMServicePort" binding="basicHttpBinding" bindingConfiguration="NrmServiceInterfaceBinding" contract="NRMWebService.NrmServiceInterface" name="NRMServicePort" />
      <endpoint address="http://10.14.61.50:9090/TM_NEPSManagement/TM_NEPSManagementAPIService" binding="basicHttpBinding" bindingConfiguration="TM_NEPSManagementAPIPortBinding" contract="NEPS_NIS.TM_NEPSManagementAPI" name="TM_NEPSManagementAPIPort" />
      <endpoint address="http://10.14.61.189:9090/GRANITE_PROCMAN_OSP_WS/services/neps_procman_grn_ospSOAP" binding="basicHttpBinding" bindingConfiguration="neps_procman_grn_ospSOAPSoapBinding" contract="GraniteOSP.neps_procman_grn_osp" name="neps_procman_grn_ospSOAP" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="neps@tm.com.my">
        <!-- network defaultCredentials="true" host="smtp.tm.com.my" port="25" userName="neps" password="nepsadmin" clientDomain="tmmaster" / -->
        <network defaultCredentials="true" host="smtp.tm.com.my" port="25" userName="neps" password="nepsadmin" clientDomain="tmmaster" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <WebView.Properties.Settings>
      <setting name="WebView_GrnLoadPathConsumer_NEPSLoadPathConsumerService" serializeAs="String">
        <value>http://10.14.29.184:9001/NEPSLoadPathConsumer/</value>
      </setting>
      <setting name="WebView_WebReference_NEPSLoadSiteService" serializeAs="String">
        <value>http://10.14.28.219:7001/prj_HsbbEai_Sync_War/ws/NEPSLoadSiteRequest.wsdl</value>
      </setting>
      <setting name="WebView_NepsLoadSiteService_NEPSLoadSiteService" serializeAs="String">
        <value>http://10.14.28.219:7001/prj_HsbbEai_Sync_War/ws/NEPSLoadSiteRequest.wsdl</value>
      </setting>
    </WebView.Properties.Settings>
  </applicationSettings>
</configuration>